nav{
    color: #FFFFF0;
    height: 150px;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}
.nav{
    max-height: 80px;
    width: 100%;
    background-color: #F29F05;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
ul{
    height: 100px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
li a {
    padding: 8px;
    color: #FFFFF0;
    margin-right: 30px;
  }
  li a:hover {
    color: #a46863;
    font-weight: bolder;
    text-decoration: none;
  }
.logo{
    width: 30%;
    min-width: 42px;
    min-width: 138px;
}
.logo:hover{
    transform: scale(1.1);
}
.burgermenu{
    width: 30%;
    max-width: 116px;
    min-width: 54px;
}
.burger:hover{
    transform: scale(1.1);
}

div#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
}

body{
    background-color: #FFFFF0;
}
h1{
    color:  #A65149;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 500%;
    font-weight: bolder;
    margin-bottom: 35px;
}
h2{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Amatic SC', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    text-align: center;

}
p{
    margin: 50px 0 50px 0;
    text-align: justify;
    font-family: 'Amatic SC', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Open Sans', sans-serif;
}